.display{
    height: 50px;
    width: 380px;
    text-align: right;
    font-size: 40px;
    font-weight: bolder;
    padding: 0px 10px 0px;
    background-color: white;
}
table,td {
    border: 1px solid black;
    text-align: center;
    height: 30px;

}
th:hover{
    background-color: rgb(155, 75, 75);
    color: white;

}
td:hover {
    background-color: rgb(155, 75, 75);
    color: white;
}
th{
    font-weight: 40px;
    border: 1px solid black;
    text-align: center;
    height: 20px;
    font-size: 20px;
}
.table{
    width: 400px;
}
#nav{
    background: #333;
    color: white;
    padding: 5px;

}
#nav ul {
    padding: 0px;
    list-style: none;
}

#nav a{
    color: rgb(252, 249, 249);
    text-decoration: none;
    padding-right: 15px;
    font-size: 18px;
}
#nav a:hover{
    color: coral;
}